<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">儀錶板</h1>
    </div>
</div>

<div class="row">
    <div id="Statistics"></div>
</div>

<div class="row">
    <div id="Chart">/</div>
</div>

<div class="row">
    <div id="InstantResults"></div>
</div>

@section Scripts {
@Scripts.Render("~/Scripts/zingchart.min.js")
    <script>
        StatisticsRequest();
        ChartRequest();
        InstantResultsRequest();
        $(document).ready(function () {
            setInterval("StatisticsRequest()", 60000);
            setInterval("InstantResultsRequest()", 60000);
            setInterval("ChartRequest()", 60000);
        });

        function StatisticsRequest() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Statistics", "Result")',
            success: function (result) {
                $('#Statistics').html(result);
            }
        })
        }

        function ChartRequest() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Chart", "Result")',
            success: function (result) {
                $('#Chart').html(result);
            }
        })
        }

        function InstantResultsRequest() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("InstantResults", "Result")',
            success: function (result) {
                $('#InstantResults').html(result);
            }
        })
        }
    </script>
}
