@model PagedList.IPagedList<IP.Models.Table>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = null;
}



<head>

    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="Author" content="Your Name - website / Design by Ian Smith - N-vent Design Services LLC - www.n-vent.com" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />
    <meta name="Keywords" content="" />
    <meta name="ICBM" content="" /> <!-- see geourl.org -->
    <meta name="DC.title" content="Your Company" />
    <link rel="shortcut icon" href="favicon.ico" /> <!-- see favicon.com -->
    <link href="~/Style/style.css" rel="stylesheet" />
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script async="" src="~/Style/js/analytics.js"></script>
    <script src="~/Style/js/Chart.bundle.js"></script>
    <script src="~/Style/js/utils.js"></script>







</head>
<body>
    <!-- The ultra77 template is designed and released by Ian Smith - N-vent Design Services LLC - www.n-vent.com. Feel free to use this, but please don't sell it and kindly leave the credits intact. Muchas Gracias! -->
    <div id="wrapper">
        <a name="top"></a>
        <!-- header -->
        <div id="header">
            <div id="pagedescription"><h2>B10300082</h2><h1>唐振嚴</h1><br /><h2>B10317029</h2><h1>周世麒</h1><br /></div>
            <div id="branding"><p><span class="templogo">Machine learning</span><br />IP analysis</p></div>
        </div>

        <!-- top menu -->
        <div id="menu">
            <div id="d" style="margin: 10px">

            </div>
        </div> <!-- end top menu -->
        <!-- bodywrap -->
        <div id="bodytop">&nbsp;</div>
        <div id="bodywrap">
            <div id="container">



                <div id="chart_container" style="width:700px;height:500px;">
                    <canvas id="bar_chart"></canvas>
                </div>



                </div>
            </div> <!-- end bodywrap -->

        <div id="bodybottom">&nbsp;</div>


        <!-- footer -->
        <div id="footer">
            <p>
            </p>
            <ul>
                <li><a href="http://www.oswd.org" title="Another Item">Another Item</a></li>
                <li><a href="http://www.oswd.org" title="Open Source Web Design">Open Source Web Design</a></li>

            </ul>
        </div> <!-- end footer -->
        <!-- side menu  -->
        <div id="sidemenu" style="width:174px">
            <div id="smtop" style="width:174px">&nbsp;</div>
            <div id="smtitle" style="width:174px"><h1 style="width:174px">Chart</h1></div> <!-- side menu current page title -->
            <ul class="normal" style="width:174px">
                <div id="smtitle"style="width:174px"><h1><a href="@Url.Action("index","Result" )" style="margin: 60px">BACK</a></h1></div>
                <li>

                </li>
            </ul>
            <ul class="normal" style="width:174px">
                <div id="smbottom">&nbsp;</div>
            </ul>
        </div>



</body>

































